
.main_menu a[href="/discover.html"] {
    box-shadow: 0px 0px 0px #999999;
}

.content{
    display: flex;
    flex-flow: column;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-left: 40px;
}