
.main_menu a[href="/discover.html"] {
    box-shadow: 0px 0px 0px #999999;
}

.content{
    display: flex;
    flex-flow: column;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-left: 40px;
}

.small_recipes{
    display: flex;
    flex-flow: row;
}

.big_recipe{
    display: flex;
    flex-flow: row;
    padding-bottom: 20px;
}

/*this one crops the image*/
.crop_big{
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 25px;
}

/*this one resizes the image*/
.crop_big img {
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: 350px;
}

/*this one crops the image*/
.crop_small{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
}

/*this one resizes the image*/
.crop_small img {
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
}

.centered{
    text-align: center;
    margin: auto;
}

.big_img_div{
    flex-grow: 1;
}

.justify_content__end{
    justify-content: flex-end;
}

.space_evenly{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img_small{
    max-height: 150px;
    flex-grow: 1;
}

.title_small{
    font-size: large;
    vertical-align: center;
    padding-top: 10px;
}

.flex_col{
    flex-flow: column;
    flex-grow: 1;
}

.title{
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
    border-bottom: #6C9B59;
    color: black;
}

.align{
    padding-left: 20px;
}