@import "theme.css";

body {
    margin: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    background-image: url("background-img3.jpg");
    background-size: 100%;
}

.app_header{
    background-image: url("picture2.jpg");
    background-size: 100%;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.top_bar {
    display: flex;
    padding-top: 15px;
    padding-inline-start: 45px;
    padding-bottom: 25px;
}

.top_bar__right {
    justify-content: flex-end;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.site_name {
    vertical-align: middle;
    font-size: 38px;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    padding: 10px;
    width: fit-content;
    color: #6C9B59;
    justify-content: flex-start;
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.main_menu ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    font-weight: 600;
}

.main_menu a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-right: 10px;
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
    transition: all .2s ease;
}
nav.main_menu {
    background-color: var(--primary-color);
    opacity: 80%;
    padding-inline-start: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
}

nav a:hover {
    color: white;
    background-color: var(--secondary-color);
}

main{
    width: 100%;
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
}

.content{
    background-color: white;
    border-radius: 25px;
    display: flex;
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.recipe_title {
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 5px;
    padding-top: 30px;
    border-bottom-color: var(--primary-color);
    border-bottom-style: solid;
}

.recipe_description_title {
    font-size: x-large;
    padding-bottom: 20px;
    padding-top: 20px;
}

.recipe_description {
    margin-left: 20px;
}

.recipe_ingredients_list {
    list-style-type: none;
    padding-inline-start: 10px;
    margin: 0px;
}

.recipe_ingredients_list i{
    color: var(--primary-color);
    padding-right: 5px;
}

.recipe_ingredients_list_ingredient{
    font-weight: 600;
    color: var(--primary-color);
}

.recipe_ingredients_list li {
    padding-bottom: 15px;
}

.content_second_column{
    max-width: 50%;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 50px;
}

img{
    border-radius: 25px;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    text-align: center;
    max-block-size: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.46);
}

.recipe_direction_list{
    
}

.recipe_direction_list_element{
    padding-bottom: 25px;
}

.add_all_ingredients_button{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    background-color: var(--primary-color);
    width: 50px;
    height: 15px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    inline-size: max-content;
    margin-top: 20px;
}

.button {
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
    margin-top: auto;
    margin-right: 20px;
    margin-bottom: auto;
    margin-left: 0px;
    opacity: 93%;
    transition: all .2s ease;
}

.button:hover{
    color: white;
    background-color: var(--secondary-color);
}

.button:active{
    padding-bottom: 40px;
}

mark{
    background-color: rgba(122,170,103,0.83);
}