/*@import "theme.css";*/

@media print {
    header{
        display: none;
    }

    footer{
        display: none;
    }

    main{
        padding: 0px;
    }

    .content{
        margin: 0px;
        max-width: 100%;
    }

    .card{
        border-radius: 0px;
        box-shadow: none;
    }

    tbody tr:first-child{
        display: none;
    }
    .list_button{
        display: none;
    }

    table{

    }
}

