
.main_menu a[href="recipeSum.html"] {
    box-shadow: 0px 0px 0px #999999;
}

/*
body {
    margin: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    background-image: url("../img/background-img3.jpg");
    background-size: 100%;
}


a {
    text-decoration: none;
}
*/


.content{
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.recipeSum_button{
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.67) !important;
}

.addNew_button{
    /* max-width: fit-content; */
    /* flex-grow: 1; */
    /* align-items: flex-end; */
    font-size: x-large !important;
    margin-left: auto !important;
    display: inline-flex;
    position: relative;
    width: 56px;
    height: 56px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
}

.floating_button{
    /*display: none;*/
    position: fixed;
    font-size: larger;
    right: 24px;
    bottom: 70px;
    border: none;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.67);
    cursor: pointer;
}

.floating_button:hover{
    color: white;
    background-color: var(--secondary-color);
}

.floating_button:active{
    box-shadow: 0px 0px 0px #999999;
}

.floating_button:focus{
    outline: none;
}

.recipeSum_button:active{
    box-shadow: 0px 0px 0px #999999 !important;
}

.recipeSum_button:hover{
    color: white;
    background-color: var(--secondary-color);
}

.recipe_title{
    flex-grow: 1;
}

.flex_row{
    display: flex;
    flex-flow: row;
}

.recipe_sum_row {
	display: flex;
}

.recipe_element { 
	flex: 1;
	border-radius: 25px;
	border: 1px solid var(--primary-color);
	width: 25%;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    text-align: center;
    max-block-size: fit-content;
    display: inline-block;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-right:2%;
	margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-bottom: 5%;
}

.recipe_element_content {
	display: block;
	height: 90%;
	box-sizing: border-block;
}

.recipe_element a:first-of-type {
	color: black;
}

.recipe_hidden {
	visibility: hidden;
}

.recipe_element_img {
	border-radius: 25px;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    text-align: center;
    max-block-size: fit-content;
    display: block;
	margin-top: -20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.46);
}

.recipe_element_title {
	font-size: x-large;
    font-weight: 400;
	padding-bottom: 10px;
	border-bottom:  2px solid var(--primary-color);
}

.recipe_description {
	margin-top: 10px;
	margin-bottom: 10px;
}

mark{
    background-color: rgba(122,170,103,0.83);
}
