

.content{
    display: flex;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.recipe_title {
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 5px;
    padding-top: 60px;
    border-bottom-color: var(--primary-color);
    border-bottom-style: solid;
}

.recipe_description_title {
    font-size: x-large;
    padding-bottom: 30px;
    padding-top: 20px;
}

.recipe_description {
    margin-left: 10%;
}

.recipe_ingredients_list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px;
    margin-left: 10%;
}

.recipe_ingredients_list i{
    color: var(--primary-color);
    padding-right: 5px;
}

.recipe_ingredients_list_ingredient{
    font-weight: 600;
    color: var(--primary-color);
}

.recipe_ingredients_list li {
    padding-bottom: 20px;
}

.content_second_column{
    max-width: 50%;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 50px;
}

.img_recipe{
    border-radius: 25px;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    text-align: center;
    max-block-size: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.46);
}

.recipe_direction_list{

}

.recipe_direction_list_element{
    padding-bottom: 25px;
    padding-left: -10px;
}

.add_all_ingredients_button{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    background-color: var(--primary-color);
    width: 50px;
    height: 15px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    inline-size: max-content;
    margin-top: 20px;
    margin-left: 10%;
}

mark{
    background-color: rgba(122,170,103,0.83);
}