/*@import "theme.css";
@import "base/common.css";*/



/*
.sticky_box{
	border-radius: 25px;
	background-color: var(--secondary-light-color);
	width: fit-content;
	margin: auto;
	margin-top: -190px;
	padding-top: 60px;
	padding-right: 130px;
	padding-bottom: 60px;
	padding-left: 130px;
	box-shadow: 2px 5px 20px 5px rgb(0, 0, 0);
	transition: all .2s ease;
	animation-name: moving_box;
	animation-timing-function: ease-out;
	animation-duration: 4s;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
}
.sticky_box:hover{
	transform: scale(1.2,1.2);
}
@keyframes moving_box {
	0%   {
		margin-top:-190px;
	}
	50%  {
		margin-top:400px;
	}
	100% {
		margin-top:-190px;
	}
}
@keyframes background_coloring {
	0%   {
		background-color: rgba(0,0,0,0.4);
		display: none;
	}
	50%  {
		background-color: rgba(0,0,0,0.4);
		display: none;
	}
	100% {
		background-color: rgba(0,0,0,0.4);
		display: none;
	}
}
.vmi{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	animation-name: background_coloring;
	animation-timing-function: ease-out;
	animation-duration: 4s;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
}
.sticky_text{
	color: white;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}
.sticky_button{
	box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.51);
}
 */ /*used to be animation, staying under further notice*/

.container {
	overflow: hidden;
	width: 90%;
	margin: 15% auto 0 auto;
}


.flex-grid {
	display: flex;
	margin: auto -1rem 1rem;
}

.col {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}

.main {	
	text-align: center;
	overflow: hidden;
	flex: 3;
}

.sidebar {
  flex: 1;
}

.flex_row{
	display: flex;
	width: 90%;
	flex-flow: row;
	padding-right: 2%;
	padding-left:2%;
}

.description {
	background-color: white;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 3%;
	padding: 5% 5%;
	border-radius: 25px;
	box-shadow: 3px 5px 15px #000;
}

.description_box {
	width: 25%;
	background-color: var(--primary-color);
	color: white;
	border-bottom: 3px solid var(--primary-dark-color);
	border-radius: 25px;
	flex-grow: 1;
	margin-right: 3px;
	margin-left: 3px;
	padding: 10% 2%;
}

.description_box:hover {
	background-color: var(--primary-dark-color); 
	color: white;
}

.opinion {
	background-color:  var(--primary-dark-color);
	color: white;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 3%;
	padding: 5% 5%;
	border-radius: 25px;
	box-shadow: 3px 5px 15px #000;
}

.opinion_box {
	width: 25%;
	background-color: var(--primary-color);
	color: white;
	border-bottom: 3px solid white;
	border-radius: 25px;
	flex-grow: 1;
	margin-right: 3px;
	margin-left: 3px;
	padding: 10% 2%;
}

.opinion_box:hover {
	background-color: white; 
	color: var(--primary-dark-color);
}

.img_logo {
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    max-block-size: fit-content;
    display: block;
	width: 80%;
    margin:  10% auto 2% auto;
}

.recipes {
	background-color: white;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 3%;
	padding: 10% 5%;
	border-radius: 25px;
	box-shadow: 3px 5px 15px #000;
}


.recipe_quote {
	text-align: center;
	padding: 7% 2%;
	font-size: large;
	font-style: italic;
	font-weight: bold;
	background-color: var(--primary-dark-color);
	color: white;
	border-radius: 25px;
	border-bottom: 3px solid var(--primary-color);
	border-radius: 25px;
}

.recipe_quote:hover {
	background-color: white;
	color: var(--primary-dark-color);
}


.contact {
	width: 100%;
	background-color: var(--primary-dark-color); 
	color: white;
	margin: auto;
	padding: 15% 3%;
	text-align: center;
	border-radius: 25px;
	box-shadow: 3px 5px 15px #000;
}

#contact_us {
	display: block;
	width: 70%;
	border-radius: 25px;
	background: var(--primary-dark-color);
	color: white;
	font-size:  large;
	border-bottom: 3px solid white;
	margin: 3% auto;
	padding: 2% 0;
}

#contact_us:hover {
	background: white;
	color: var(--primary-dark-color);
	border-bottom: 1px solid white;
	border-radius: 25px;
	transition: all .2s ease;
}

.contact-button {
	display: block;
	width: 40%;
	background-color: white;
	color: var(--primary-color);
	margin: 2% auto;
	padding: 3%;
	font-weight: bold;
}

.join_us {
    text-align: center;
	box-sizing: border-box;
	background-color: var(--primary-color); 
	color: white;
	padding: 10% 5%;
	overflow: hidden;
	width: 100%;
	border-radius: 25px;
	box-shadow: 3px 5px 15px #000;
	margin-top: 10%;
}

.join_us h2 {
	background-color: var(--primary-dark-color);
	border-radius: 25px;
	margin: 2% auto;
	padding-top: 3%;
	padding-bottom: 3%;
    border-bottom: 5px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

.button_holder {
	margin-top: 5%;
}

.welcome-button {
	display: block;
	/* width: 100%; */
	background: white;
	color: var(--primary-color);
	border-bottom: 1px solid white;
	margin: 2% auto;
	/* padding: 3%; */
	font-weight: bold;
}


