<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recepie horder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CRoboto&display=swap" rel="stylesheet">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/base/common.css">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">

    <link rel="apple-touch-icon" sizes="180x180" href="img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icon/favicon-16x16.png">
    <link rel="manifest" href="img/icon/site.webmanifest">

</head>

<body>
    <header id="navbar" class="app_header">
	    <div class="top_bar">
		<a href="index.html"><div class="site_name"><img src="img/logo_full.png" alt="logo"></div></a>
		<div class="top_bar__right">
		    <a href="../sign_in.html" class="button header-button">Sign In</a>
		    <a href="../sign_up.html" class="button header-button">Sign Up</a>
		</div>
	    </div>
	    <nav class="main_menu">
		<ul>
		    <li><a href="../recipeSum.html"><i class="fas fa-pizza-slice"></i> Recipes</a></li>
		    <li><a href="../in_stock.html"><i class="fas fa-carrot"></i> In stock</a></li>
		    <li><a href="../shopping_list.html"><i class="fas fa-list"></i> Shopping list</a></li>
		    <li><a href="../discover.html"><i class="fas fa-globe"></i> Discover</a></li>
		</ul>
	    </nav>
	</header>

	<script>
	    window.onscroll = function() {scrollFunction()};

	    function scrollFunction() {
		//console.log("asd");
		if (document.body.scrollTop > 35 || document.documentElement.scrollTop > 35) {
		    //document.getElementById("navbar").style.opacity = "0";
		    document.getElementById("navbar").style.top = "-110px";
		} else {
		    document.getElementById("navbar").style.top = "0px";
		}
	    }
	</script>

	
	<button type="button" onclick="topFunction()" id="myBtn" title="Go to top" class="addNew_button floating_button"><i class="fas fa-chevron-up"></i></button>

	<script>
		//Get the button:
		mybutton = document.getElementById("myBtn");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
			if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
				document.getElementById("navbar").style.top = "-110px";
				mybutton.style.display = "block";
			} else {
				document.getElementById("navbar").style.top = "0px";
				mybutton.style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0; // For Safari
			document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
		}
	</script> <!-- script for scrolling to the top function -->
	
	<div class="container">
	
	<div class="flex-grid">
		
		<main class="col main">
			<div class="main_element description">
				<h2>What can we offer?</h2>
					<div class="flex_row">
						<div class="main_box description_box">
							We give you a place to keep all your recipes wherever you go!
						</div>
						<div class="main_box description_box">
							We help you during shopping, with the help of your own online shopping list!
						</div>
						<div class="main_box description_box">
							We introduce you the real joy of how easily you can add new recipes!
						</div>
					</div>
			</div>
			
			<div class="main_element instruction">
				<h2>How to use the Recipe Horder?</h2>
					<div class="flex_row instruction_row">
						<div class="instruction_box">
							<h3>Share your own recipes with the community!</h3>
							Do that by writing it manually or by giving the URL that goes to the selected recipe.
						</div>
						<i class="fas fa-cloud-upload-alt  fa-5x instruction_box  instruction_img"></i>
					</div>
					<div class="flex_row instruction_row">
						<div class="instruction_box">
							<h3>Discover recipes!</h3>
							Here you can find amazing recipes made by other cooking-enthusiasts! Be open to learn!
						</div>
						<i class="fas fa-search  fa-5x instruction_box  instruction_img"></i>
					</div>
					<div class="flex_row instruction_row">
						<div class="instruction_box ">
							<h3>Buy the ingreditents!</h3>
							We will bring to you the needed ingredients, so the only thing you have to do is just start cooking those delicious meals!
						</div>
						<i class="fas fa-shopping-cart  fa-5x instruction_box  instruction_img"></i>
					</div>
			</div>
				
			<div class="main_element opinion">
				<h2>What do our members say about Recipe Horder?</h2>
					<div class="flex_row">
						<div class="main_box opinion_box">
							<i>An inspirational forum meant to give people a place to read some positive daily content, to cheer them up or possibly inspire in some way.</i><br><br>
							- Monica
						</div>
						<div class="main_box opinion_box">
							<i>Do you have a recipe that you have made from this site that you think is extra special and deserves some extra exposure, then post it here and tell everyone why!</i><br><br>
							- Alice
						</div>
						<div class="main_box opinion_box">
							<i>Not sure what to make for dinner? Find out what member's have on their menu for tonight, it's a great way to pick up meal ideas!</i><br><br>
							- George
						</div>
					</div>
				</div>
				
				<div class="main_element motivation">
					<h2>And last but not least, remember the community's simple truth:</h2>
					<div class="motivation_quote">
							A recipe has no soul. You as the cook must bring soul to the recipe!
							<img class="img_logo" src="img/logo_full.png" alt="recipe horder logo">
					</div>
				</div>

				
		</main>
		
		<aside class="col sidebar">
			<div class="contact">
				<h2>Contact</h2>
					<label for = "contact_us">Feel free to send us feedback! </label><br>
					<textarea id="contact_us" rows="4" cols="50"></textarea>
					<a href="#" class="button contact_button">Send</a>
			</div>
			<div class="join_us">
				<h2>Join us!</h2>
					<div class="button_holder">
						<a href="../sign_up.html" class="button welcome-button">Sign up</a>
						<a href="../sign_in.html" class="button welcome-button">Sign in</a>
					</div>
			</div>
		</aside>
		
	  </div>
	</div>
		
			
	<footer>
	    <div class="footer_bar">
		Copyright ©
	    </div>
	</footer>
</body>
</html>
