

.content{
    display: flex;

    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    transform-origin: top;

    animation-name: card_in;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes card_in{
  0% {
      transform: rotateX(90deg);
      opacity: 0.1;
  }
  50%{
      opacity: 0.8;
  }
  100% {
      transform: rotateX(0deg);
      opacity: 1;    
  }
}

.recipe_title {
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 5px;
    padding-top: 60px;
    border-bottom-color: var(--primary-color);
    border-bottom-style: solid;
}

.recipe_description_title {
    font-size: x-large;
    padding-bottom: 30px;
    padding-top: 20px;
}

.recipe_description {
    margin-left: 10%;
}

.recipe_ingredients_list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px;
    margin-left: 10%;
}

.recipe_ingredients_list i{
    color: var(--primary-color);
    padding-right: 5px;
}

.recipe_ingredients_list_ingredient{
    font-weight: 600;
    color: var(--primary-color);
}

.recipe_ingredients_list li {
    padding-bottom: 20px;
}

.content_second_column{
    max-width: 50%;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 50px;
}

.img_recipe{
    border-radius: 25px;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    text-align: center;
    max-block-size: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.46);
}

.recipe_direction_list{

}

.recipe_direction_list_element{
    padding-bottom: 25px;
    padding-left: -10px;
}

.add_all_ingredients_button{
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10%;
    margin-left: 0;
    margin-right: 0;
}

mark{
    background-color: rgba(122,170,103,0.83);
}


@keyframes carrot_easter_egg{
  0% {
      offset-distance: 0%;
      opacity: 1;
  }
  15%{
      opacity: 1;
  }
  16%{
      offset-distance: 100%;
      opacity:0;
  }
  100% {
      opacity:0;
  }
}

.carrot_easter_egg{   
    width: 800px;
    pointer-events: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.carrot_easter_egg svg{

    offset-path: path('M 850 25 Q 825 325 700 250 C 600 200 475 225 375 375 Q 325 450 400 500 Q 500 600 575 450 Q 625 275 375 250 Q 275 275 250 375 Q 225 450 100 525 Q 25 600 0 750 ');
    offset-rotate: auto;
    width: 4rem;
    animation-name: carrot_easter_egg;
    animation-fill-mode: both;
    animation-delay: 15s;
    animation-iteration-count: infinite ;
    animation-duration: 200s;
    animation-timing-function: ease-out;
}

.carrot_easter_egg .fa-primary{
    color: green;
}

.carrot_easter_egg .fa-secondary{
    color: orange;
}