/*@import "../theme.css";*/

.app_header{
    background-image: url("../../img/picture2.jpg");
    background-size: 100%;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.top_bar {
    display: flex;
    padding-top: 15px;
    padding-inline-start: 45px;
    padding-bottom: 15px;
    transition: top 15s;
}

.top_bar__right {
    justify-content: flex-end;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.site_name {
    vertical-align: middle;
    font-size: 38px;
    background-color: white;
    border-radius: 25px;
    height: 60px;
    padding: 10px;
    width: fit-content;
    color: #6C9B59;
    justify-content: flex-start;
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
    /*: 'Kaushan Script';*/
}

.site_name img{
    height: 60px;
    width: auto;
}

.main_menu ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    font-weight: 600;
}

.main_menu a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-right: 10px;
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
    box-shadow: 5px 5px 11px 0px rgb(0, 0, 0);
    transition: all .2s ease;
}
nav.main_menu {
    background-color: var(--primary-color);
    opacity: 80%;
    padding-inline-start: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
}

#navbar{
    transition: all .2s ease;
}

nav a:hover {
    color: white;
    background-color: var(--secondary-color);
}

nav a:active{
    box-shadow: 0px 0px 0px #999999;
}

.button {
    /* background-color: var(--primary-color); */
    /* border-radius: 25px; */
    /* color: white; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    /* text-align: center; */
    /* box-shadow: 5px 5px 11px 0px rgb(0, 0, 0); */
    /* margin-top: auto; */
    /* margin-right: 20px; */
    /* margin-bottom: auto; */
    /* margin-left: 0px; */
    opacity: 93%;
    /* transition: all .2s ease; */
}

.button:hover{
    color: white;
    background-color: var(--secondary-color);
}

.button:active{
    /*padding-bottom: 40px;*/
    box-shadow: 0px 0px 0px #999999;
}